:root {
  --color-oscuro: #4e4058;
  --color-medio: #43c9a7;
  --color-claro: #f8eeee;
  --fuente-Lato: 'Lato', sans-serif;
  --fuente-Montserrat: 'Montserrat', sans-serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-Lato);
  scroll-behavior: smooth;
}

header, footer {
  display: flex;
  min-height: 15vh;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-oscuro);
  color: var(--color-claro);
  font-family: var(--fuente-Montserrat);
}

header {
  position: fixed;
  width: 100vw;
  top: 0;
}

.header-title,
nav, .footer-info {
  text-align: center;
  width: 45%;
  font-weight: 1000;
}

.header-title {
  font-size: calc(15px + 2vh);
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 5%;
}

a {
  text-decoration: none;
  color: var(--color-claro);
}

.home, .portfolio, .about, .contact-me {
  padding: 180px 80px 80px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.home, .about {
  background-color: var(--color-medio);
  color: var(--color-claro);
}

.portfolio, .contact-me {
  background-color: var(--color-claro);
}

h2, button {
  font-size: calc(5px + 2vh);
}

p {
  font-size: calc(3px + 2vh);
}

.home-title {
  font-size: calc(30px + 2vh);
  font-weight: 1000;
}

.section-title {
  font-size: calc(30px + 2vh);
  font-weight: 1000;
}

.proyects-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  gap: 10px;
}

.proyect-img {
  margin: 10px;
  width: 300px;
}

.about-text {
  columns: 2;
  width: calc(70% + 10vw);
  text-align: justify;
  column-gap: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 70%;
  color: #4e4058;
}

.contact-input, .contact-textarea {
  margin-bottom: 10px;
  border: none;
  box-shadow: 0px 2px 5px rgba(115, 114, 114, 0.1); /* Agregar sombra */
  border-radius: 5px; 
  padding: 10px;
  font-size: 20px
}

.contact-input {
  height: 30px;
}

button {
  display: inline-block;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  background-color: var(--color-medio);
  color: #f5f5f5;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

button:hover {
  background-color: #e0e0e0;
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.4);
}

button:active {
  background-color: #ccc;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}



