:root {
  --color-oscuro: #4e4058;
  --color-medio: #43c9a7;
  --color-claro: #f8eeee;
  --fuente-Lato: 'Lato', sans-serif;
  --fuente-Montserrat: 'Montserrat', sans-serif;
}

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fuente-Lato);
}

header, footer {
  display: flex;
  min-height: 100px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-oscuro);
  color: var(--color-claro);
  font-family: var(--fuente-Montserrat);
}

.header-title,
nav {
  text-align: center;
  width: 45%;
  font-weight: 1000;
}

.header-title {
  font-size: xx-large;
}

ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  gap: 5%;
}

.home, .portfolio, .about, .contact-me {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.home, .about {
  background-color: var(--color-medio);
  color: var(--color-claro);
}

.portfolio, .contact-me {
  background-color: var(--color-claro);
}
.home {
  padding: 100px;
  gap: 20px;
}
.home-title {
  font-size: 10vh;
}

